.search{
    &__container{
        height: 100%;
    }

    &__search-field{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        // align-items: center;
        text-align: center;
        min-height: 100vh;
        margin-top: 200px;
        margin-left: 100px;
        margin-right: 100px; 
    }
}