.main {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;

    &--login {
        background: #EF7F1A;
    }

    &__module-wrapper {
        flex: 1;
        display: flex;
    }

    &__loading-refresh-token {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__loading-refresh-token-content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 30px;
        margin-left: -123px;
        z-index: 1001;
    }
}
