$primary-color: #EF7F1A;
$secondary-color: #0E7575;
$gray-color: #101010;
$tabs-border-bottom: 1px solid #E3E3E3;

$hover-color: #D9FBFD;
$selected-item-background: #FBDFC9;
// $selected-item-background: rgba(239, 127, 26, 0.25);

// $secondary-color: #08A0A9;
// $secondary-dark-color: #007E85;
// $color-light-gray: #F0F0F0;
// $color-red-text: #DB222A;
// $color-red: #DB222A;
// $color-green-text: #139A43;
// $grid-border: 1px solid rgba(0, 0, 0, .1);
// $grid-row-background: #F7F7F7;
// $grid-y-selected: #F5F5F5;
// $advanced-grid-selected-color: #D9F9FB;
// $processing-bg-color: #FFD76F;
// $base-text-color: #1A1F23;
// $wagons-scheme-red-color: #F68577;
// $wagons-scheme-green-color: #2A999E;
// $border-color:  rgba(149, 155, 161, 0.3);
