/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./font/roboto/roboto-regular.eot'); /* IE9 Compat Modes */
    src:
        local('Roboto'),
 local('Roboto-Regular'),
        url('./font/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('./font/roboto/roboto-regular.woff2') format('woff2'),
        url('./font/roboto/roboto-regular.woff') format('woff'),
        url('./font/roboto/roboto-regular.ttf') format('truetype'),
        url('./font/roboto/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('./font/roboto/roboto-italic.eot'); /* IE9 Compat Modes */
    src:
        local('Roboto Italic'),
 local('Roboto-Italic'),
        url('./font/roboto/roboto-italic.eot?#iefix') format('embedded-opentype'),
        url('./font/roboto/roboto-italic.woff2') format('woff2'),
        url('./font/roboto/roboto-italic.woff') format('woff'),
        url('./font/roboto/roboto-italic.ttf') format('truetype'),
        url('./font/roboto/roboto-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./font/roboto/roboto-700.eot'); /* IE9 Compat Modes */
    src:
        local('Roboto Bold'),
 local('Roboto-Bold'),
        url('./font/roboto/roboto-700.eot?#iefix') format('embedded-opentype'),
        url('./font/roboto/roboto-700.woff2') format('woff2'),
        url('./font/roboto/roboto-700.woff') format('woff'),
        url('./font/roboto/roboto-700.ttf') format('truetype'),
        url('./font/roboto/roboto-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('./font/roboto/roboto-700italic.eot'); /* IE9 Compat Modes */
    src:
        local('Roboto Bold Italic'),
 local('Roboto-BoldItalic'),
        url('./font/roboto/roboto-700italic.eot?#iefix') format('embedded-opentype'),
        url('./font/roboto/roboto-700italic.woff2') format('woff2'),
        url('./font/roboto/roboto-700italic.woff') format('woff'),
        url('./font/roboto/roboto-700italic.ttf') format('truetype'),
        url('./font/roboto/roboto-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
