@import 'base';
@import 'main-font';
@import 'icons';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    overflow: hidden;
}

body,
html,
#main {
    padding: 0;
    margin: 0;
    height: 100%;
}

.bg_logo {
    background: url('img/rectangle.svg') no-repeat 0 0;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg_logo_auth {
    background: url('img/rectangle.svg')  0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ui_page_link {
    position: absolute;
    right: 70px;
    top: 10px;
    cursor: pointer !important;

    &__button {
        cursor: pointer;
    }
}

.header__dashboard {
    position: absolute;
    right: 120px;
    top: 10px;
    cursor: pointer !important;

    &__button {
        cursor: pointer;
    }
}

.logout {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer !important;

    &__button {
        cursor: pointer;
    }
}
